*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.head1{
  width: 100%;
  height: 51px;
  background-color: black;
}
.head1 h1{
  position: absolute;
  padding: 3px;
  float: right;
  margin-left: 2%;
  margin-top: 3px;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
    font-family: Impact;
}
.head1 span{
color:  #83ECFF;
}
.head1 ul {
  list-style-type: none;
  margin-top: 0;
  margin-right: 0px;
  border-top: 3px solid black;
  padding: 0;
  background-color: white;
}
.head1 li {
  float: right;
}
.head1 li a {
  margin-top: -2px;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
     border-radius: 20px;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: white;
  color: black;

}
body{
  height: 100%;
  background-image: url("bg1.jpg"); 
  background-size: cover;
  background-repeat: no-repeat; 
}
.bg-text {
  background-color: white;
   color: white;
  font-weight: bold;
  border: 3px solid black;
   border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50.5%;
  text-align: center;
} 
.menu1{
  
   position: absolute;
  background-color: white;
   color: black;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 50px;
  top: 45%;
  left: 50%;
  transform: translate(-200%, -50%);
  z-index: 2;
  width: 290px;
  text-align: center;
  height: 13%;
  transition: .5s;
}
#img1 img{
  position: absolute;
  border: 3px solid black;
  top: 45%;
  left: 50%;
  transform: translate(-200%, -50%);
  z-index: 3;
  text-align: center;
  height: 290px;
  width: 290px;
  cursor: pointer;
}
.p_close{
  margin-right: 0px;
}
 .menu1 a:hover{
      color: gray;
  }
}
}
}
 .menu1 .p_close{
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 36px;
  color: black;
}
.menu1 h1{
  margin-left: 60px ;
}
.menu1 p{
  margin-top: 50px;
  text-align: center;
}